<div class="pro card" onclick="window.location.href='sproduct.html'">
    <img src="../../img/product/img1.png" alt="">
    <div class="description des">
        <span>adidas</span>
        <h4>cotton fleece sportswear</h4>
        <div class="star">
            <i class="fa-solid fa-star starIcon"></i>
            <i class="fa-solid fa-star starIcon"></i>
            <i class="fa-solid fa-star starIcon"></i>
            <i class="fa-solid fa-star starIcon"></i>
            <i class="fa-solid fa-star starIcon"></i>
        </div>
        <div class="price-cart">
            <h3>89$</h3>
            <a href="#">
                <i class="fa-solid fa-cart-plus cartIcon"></i>

                </i>
            </a>
        </div>
    </div>
</div>
<div class="pro card" onclick="window.location.href='sproduct.html'">
    <img src="../../img/product/img2.png" alt="">
    <div class="description des">
        <span>adidas</span>
        <h4>Essential Cotton Pullover</h4>
        <div class="star">
            <i class="fa-solid fa-star starIcon"></i>
            <i class="fa-solid fa-star starIcon"></i>
            <i class="fa-solid fa-star starIcon"></i>
            <i class="fa-solid fa-star starIcon"></i>
            <i class="fa-solid fa-star starIcon"></i>
        </div>
        <div class="price-cart">
            <h3>89$</h3>
            <a href="#">
                <i class="fa-solid fa-cart-plus cartIcon"></i>

                </i>
            </a>
        </div>
       
    </div>
</div>
<div class="pro card" onclick="window.location.href='sproduct.html'">
    <img src="../../img/product/img3.png" alt="">
    <div class="description des">
        <span>adidas</span>
        <h4>Classic Fit Sweatshirt</h4>
        <div class="star">
            <i class="fa-solid fa-star starIcon"></i>
            <i class="fa-solid fa-star starIcon"></i>
            <i class="fa-solid fa-star starIcon"></i>
            <i class="fa-solid fa-star starIcon"></i>
            <i class="fa-solid fa-star starIcon"></i>
        </div>
        <div class="price-cart">
            <h3>89$</h3>
            <a href="#">
                <i class="fa-solid fa-cart-plus cartIcon"></i>

                </i>
            </a>
        </div>
    </div>
</div>
<div class="pro card" onclick="window.location.href='sproduct.html'">
    <img src="../../img/product/img4.png" alt="">
    <div class="description des">
        <span>adidas</span>
        <h4>BreezeTech Training Jacket</h4>
        <div class="star">
            <i class="fa-solid fa-star starIcon"></i>
            <i class="fa-solid fa-star starIcon"></i>
            <i class="fa-solid fa-star starIcon"></i>
            <i class="fa-solid fa-star starIcon"></i>
            <i class="fa-solid fa-star starIcon"></i>
        </div>
        <div class="price-cart">
            <h3>89$</h3>
            <a href="#">
                <i class="fa-solid fa-cart-plus cartIcon"></i>

                </i>
            </a>
        </div>
    </div>
</div>
<div class="pro card" onclick="window.location.href='sproduct.html'">
    <img src="../../img/product/img5.png" alt="">
    <div class="description des">
        <span>adidas</span>
        <h4>StreetMotion Sport Zip</h4>
        <div class="star">
            <i class="fa-solid fa-star starIcon"></i>
            <i class="fa-solid fa-star starIcon"></i>
            <i class="fa-solid fa-star starIcon"></i>
            <i class="fa-solid fa-star starIcon"></i>
            <i class="fa-solid fa-star starIcon"></i>
        </div>
        <div class="price-cart">
            <h3>89$</h3>
            <a href="#">
                <i class="fa-solid fa-cart-plus cartIcon"></i>

                </i>
            </a>
        </div>
    </div>
</div>
<div class="pro card" onclick="window.location.href='sproduct.html'">
    <img src="../../img/product/img6.png" alt="">
    <div class="description des">
        <span>adidas</span>
        <h4>ActiveFlex Jogger Set</h4>
        <div class="star">
            <i class="fa-solid fa-star starIcon"></i>
            <i class="fa-solid fa-star starIcon"></i>
            <i class="fa-solid fa-star starIcon"></i>
            <i class="fa-solid fa-star starIcon"></i>
            <i class="fa-solid fa-star starIcon"></i>
        </div>
        <div class="price-cart">
            <h3>89$</h3>
            <a href="#">
                <i class="fa-solid fa-cart-plus cartIcon"></i>

                </i>
            </a>
        </div>
    </div>
</div>
<div class="pro card" onclick="window.location.href='sproduct.html'">
    <img src="../../img/product/img7.png" alt="">
    <div class="description des">
        <span>adidas</span>
        <h4>CloudSoft Fleece Jumper</h4>
        <div class="star">
            <i class="fa-solid fa-star starIcon"></i>
            <i class="fa-solid fa-star starIcon"></i>
            <i class="fa-solid fa-star starIcon"></i>
            <i class="fa-solid fa-star starIcon"></i>
            <i class="fa-solid fa-star starIcon"></i>
        </div>
        <div class="price-cart">
            <h3>89$</h3>
            <a href="#">
                <i class="fa-solid fa-cart-plus cartIcon"></i>

                </i>
            </a>
        </div>
    </div>
</div>
<div class="pro card" onclick="window.location.href='sproduct.html'">
    <img src="../../img/product/img8.png" alt="">
    <div class="description des">
        <span>adidas</span>
        <h4>DynamicLayer Windbreaker</h4>
        <div class="star">
            <i class="fa-solid fa-star starIcon"></i>
            <i class="fa-solid fa-star starIcon"></i>
            <i class="fa-solid fa-star starIcon"></i>
            <i class="fa-solid fa-star starIcon"></i>
            <i class="fa-solid fa-star starIcon"></i>
        </div>
        <div class="price-cart">
            <h3>89$</h3>
            <a href="#">
                <i class="fa-solid fa-cart-plus cartIcon"></i>

                </i>
            </a>
        </div>
    </div>
</div>
<!-- <div class="pro card" onclick="window.location.href='sproduct.html'">
    <img src="../../img/product/img9.png" alt="">
    <div class="description des">
        <span>adidas</span>
        <h4>SleekForm Gym Top</h4>
        <div class="star">
            <i class="fa-solid fa-star starIcon"></i>
            <i class="fa-solid fa-star starIcon"></i>
            <i class="fa-solid fa-star starIcon"></i>
            <i class="fa-solid fa-star starIcon"></i>
            <i class="fa-solid fa-star starIcon"></i>
        </div>
        <div class="price-cart">
            <h3>89$</h3>
            <a href="#">
                <i class="fa-solid fa-cart-plus cartIcon"></i>

                </i>
            </a>
        </div>
    </div>
</div>
<div class="pro card">
    <img src="../../img/product/img10.png" alt="">
    <div class="description des">
        <span>adidas</span>
        <h4>AeroFit Lightweight Hoodie</h4>
        <div class="star">
            <i class="fa-solid fa-star starIcon"></i>
            <i class="fa-solid fa-star starIcon"></i>
            <i class="fa-solid fa-star starIcon"></i>
            <i class="fa-solid fa-star starIcon"></i>
            <i class="fa-solid fa-star starIcon"></i>
        </div>
        <div class="price-cart">
            <h3>89$</h3>
            <a href="#">
                <i class="fa-solid fa-cart-plus cartIcon"></i>

                </i>
            </a>
        </div>
    </div>
</div> -->